{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        {% for product in topProducts %}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 product">
                {% if product.imageName %}
                    <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('products_list') }}" class="img-thumbnail img-responsive center-block">
                {% endif %}
                   <a href="{{ path("product_show", {'id': product.id}) }}" >
                       <b>{{ product.name }} - {{ product.price|number_format(2, ',', ' ') }}</b>
                   </a><br>
                    {{ product.description }}
            </div>
        {% endfor %}
    </div>
{% endblock %}